html {
    font-size: 10px;
}

body {
    background-color: rgba(0, 0, 0, 0.3);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* wrapper styles */

.wrapper {
    width: 110rem;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    height: 80rem;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.box {
    border: solid 2px black;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sketch-options.box {
    height: 60rem;
    width: 25rem;
    flex-direction: column;
    gap: 5rem;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sketch-container.box {
    height: 64rem;
    width: 64rem;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    overflow: hidden;
}

.grid {
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
}